
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
a{
    text-decoration:none;
    color:#fff;
}
h2{
    text-align: center;
    color:#fff;
}

/*Header Section Start*/
header ul li a{
    font-size:16px;
    font-weight: 600;
    padding: 20px 10px;


}
header ul li .btn-login{
    color:#d7fc05;
    
}
header{
    width:100%;
    height:60px;
    color:#fff;
    background: #131e3a;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0px 125px;

}
header ul li{
    list-style-type: none;
    display: inline-block;
    


    

}
header ul li .active{
    color:#fc527d;
}
/* Header Section End */
/* Banner Section Start */
.banner{
    padding:0px 135px;
    width:100%;
    height: 650px;
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('../img/bk.jpg');
    background-size:100% 100%;
    background-repeat:no-repeat;
    object-fit: cover;
    color:#fff;
    position:relative;
}
.banner h1{

    font-size: 50px;
    font-weight: normal;
    position:absolute;
    top:120px;
}
.banner strong{
    font-size: 28px;
    position:absolute;
    top:250px;
}
.banner form{
    width:80%;
    height:auto;
    background:#5C327A;

    position:absolute;
    bottom:20px;
    padding:2px 12px;
    display: inline-block;
    
    
}
form .switchButton button{
    width:auto;
    height:25px;
    background:#432e4d;
    padding:5px 10px;
    border:none;
    color:#fff;
    font-weight: 500;
}
form .switchButton .active{
    background:#f41950; 
}
form .searchForm  label{
    display:none;
}
form .searchForm input{
    width:200px;
    height: 40px;
    margin-top:5px;
}
form .searchForm button{
    width:70px;
    height: 70px;
    border-radius: 50%;
    border:none;
    margin-left:30px;
    background: #f41950;
    color:#fff;

}
form .infoForm select{
    background: none;
    border:none;
    color:#fff;
    width:100px;
    
}
form .infoForm select option{
    background-color: #000;
}
form .infoForm input[type="checkbox"]{
    
    width:20px;
    height:15px;
}

/* Banner Section End */
/* Fun Section Start */
.fun{
    width:100%;
    height:auto;
    padding:50px 195px;
    background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('../img/fun-bg.jpeg');
    background-size: 100% 100%;

}
.fun ul {
 display:flex;
 justify-content: space-between;

}
.fun ul li{
    list-style-type: none;
    width:200px;
    height:150px;
    background: #000;
    font-size: 50px;
    margin:0px 15px;
    color:#fff;
    padding:15px 20px;
    text-align: center;

}

.fun h2{
    color:#fff;
    text-align: center;
    margin-bottom: 40px;
}
.fun ul li h6{
    font-size: 16px;
}
.fun ul li p{
    font-size: 16px;
    font-weight: normal;
}
/* Fun Section End */
/* NewsLetter Section Start */
.newsLetter{
    width:100%;
    height:auto;
    background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url('../img/news-banner.webp');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    text-align: center;
    color:#fff;
    padding:100px 0px 0px 600px;
}
.newsLetter p{
    padding: 50px 0px;
}

.newsLetter form label{ 
    display: none;

}
.newsLetter form input{
    width:400px;
    height:35px;
    background: none;
    border:2px solid #fff;
    
}
.newsLetter form button{
    background: #fff;
    width:100px;
    height:35px;
    border:none;
}
.newsLetter ::placeholder{
    color:#fff;
    padding-left:5px;
}
/* NewsLetter Section End */
/* Destination Section Start */
.destination{
    width:100%;
    height:auto;
    background:#5C327A;
    padding:50px 125px;

}
.destination ul{
    display:grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows:350px 350px;
    margin-top:20px;
    grid-gap:30px;
}
.destination ul li{
    border:3px solid #fff;
    list-style: none;
    background: #fff;
}
.destination ul li h3{
    padding:10px 10px;
}
.destination span{
    color:#f41950;
    font-weight: normal;
}
.destination p{
    padding:10px 10px;
}

/* Destination Section End */
/* HelpForm Section Start */
.helpForm{
    width:100%;
    height:auto;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url('../img/help-banner.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    color:#fff;
    padding:55px 125px;

}
.helpForm form{
    margin-top: 30px;
}
.helpForm form label{
    display: none;
}
.helpForm form input, select{
    width:200px;
    height:40px;
    margin-right: 10px;
}
.helpForm h1,h3{
    font-weight: normal;
    margin-bottom: 5px;
}
.helpForm button{
    width:200px;
    height:40px;
   background: hsla(39, 96%, 45%, 0.97);
}
/* HelpForm Section End */
/* Blog Section Start */
.blog{
    width:100%;
    height:auto;
    padding:50px 125px;
   
}
.blog h2{
    color:#000;
    margin-bottom: 10px;
}
.blog h2+p{
    text-align: center;
    padding:0px 100px;
}
.blog-content{
    margin:10px auto;
    display:flex;
    justify-content: space-between;

}
.blog-content img{
    width:200px;
    height:200px;
}
.blog-content .blog-subcontent{
    display:flex;
}
.blog-content .blog-subcontent h3 span{
    border-bottom:3px solid rgb(255, 0, 0);
    padding:0px 5px;

}
.blog-content .blog-subcontent div{
    padding:5px 10px;
}
/* Blog Section End */
/* Footer Section Start */
footer{
    width:100%;
    height:auto;
    padding:50px 125px;
    background:linear-gradient(rgba(0,0,0,1),rgba(0,0,0,0.9)), url('../img/desti7.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    color:#fff;
   
}
footer .top-foot{
    display: flex;
    justify-content: space-between;
}
footer h3{
    color:#fff;
}

footer ul li{
    list-style: none;

}
footer ul li a span{
    color:#7c6161
}
footer .international div{
    display: flex;
    justify-content: space-between;
}
footer .international div .inter1{
    margin-right: 30px;
}
footer .bottom-foot{
    margin-top:50px;
    
}
footer .bottom-foot{
    display: flex;
    
}
footer .foot-menu ul li{
    display: inline-block;
    padding:3px 5px;
    font-size:18px;


}
footer .socials ul li{
    display: inline-block
}
footer .foot-menu{
    margin-left: 80px;
}
footer .socials{
    margin-left:150px;
}
footer .socials ul li a{
    font-size: 24px;
    padding:3px 5px;
}

/* Footer Section End */

/* Media Queries Section start */
@media only screen and (max-width:1199)
{
    
    .banner form{
        width:86%;
    }
    .banner form .searchForm input,
    .banner form .searchForm select{
        width:18%;
        

    }
    .banner form button.submit-btn{
        float:right !important;
        margin-left: 0px;
    }
}

@media only screen and (max-width: 991px) {
    header {
        height: auto;
        padding:10px 125px;
        display: block !important;
    }
    .banner form{
        width:70%;
    }
    form .searchForm button{
        margin-left: 0px;
    }
    .fun,.banner,header,.newsLetter,.destination,.helpForm,.blog{
        padding:50px 50px;
    }
    .fun ul li{
        width:110px;
        height:115px;
        font-size: 30px;
        
    }
    .fun ul{ 
        display: grid;
        grid-template-columns: 20% 20% 20%;
        grid-gap:80px 80px;
        
    }
    .blog-content{
        display: block;
    }
    .blog-subcontent{
        margin: 15px;
    }
    .destination ul{
        grid-template-columns: 50% 50%;
    }
    .newsLetter button{
        margin-top: 15px;
        width:400px;
    }
    footer{
        padding:50px 20px;
        
    }
    footer .foot-menu{
        margin-left: 0px;
    } 
    footer .socials{
        margin-left:0px;
    }
    footer .international div{
        justify-content: flex-start;
    }
    
}
@media only screen and (max-width:900px){
   footer .top-foot{
    display:block;

   }
}
@media only screen and (max-width:768px){
    .banner h1{
        font-size: 36px;
        top:40px;
    }
    .banner strong{
        font-size: 24px;
        top:130px;
    }
}
@media only screen and (max-width: 576px) {
    /*header ul li{
        display:block;
        margin:5px 0px;
    }*/
    .banner form{
        width:70%;
        display: block;
    }
    .banner form .searchForm input[type=text],.submit-btn{
        display: block; 
    
    }
    .banner form .searchForm input[type="text"],#trave-start-date,#trave-end-date,select{
        width:100%;
    }
    .banner form .searchForm .submit-btn{
        width:100%;
        height:40px;
        border-radius: 0px;
        margin-top:5px;
    }
    .fun ul li{
        display:block;
    }
    .helpForm form select ,#travel-date,#email,.btn-calci{
        width:100%;
        margin-top:5px;
    }
}
/* Media Queries Section End */
